{
  "parser": "babel-eslint",
  "plugins": ["react"],
  "extends": ["standard", "plugin:react/recommended"],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "ecmaFeatures": {
    "jsx": true
  },
  "rules": {
    "comma-dangle": [0, "always-multiline"],
    "no-unused-vars": 1,
    "react/jsx-space-before-closing": 2,
    "react/sort-comp": 2,
    "react/sort-prop-types": 2,
    "react/jsx-handler-names": 2,
    "react/jsx-key": 2,
    "react/wrap-multilines": 2,
    "react/no-direct-mutation-state": 2
  }
}
